nm-modal {
    background: white;
    min-width: 300px;
    max-width: 100%;
    min-height: 150px;
    max-height: 100%;
    border-radius: 2px;
    box-shadow: 0 0 20px 1px #00000030;
    position: relative;
    >header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        >h1 {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
        }
        >span[class*='icon-'] {
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px;
            margin: 4px;
            border-radius: 20px;
            color: #333333;
            font-size: 16px;
            &:hover {
                transition: all .4s;
                background: #eeeeee;
                color: black;
            }
        }
    }
    >article {
        padding: 0 15px 15px 15px;
    }
}

nm-modal.form {
    >article {
        display: flex;
        >nm-form {
            display: flex;
            flex: 1;
            >form {
                display: flex;
                flex: 1;
                flex-direction: column-reverse;
                >nm-panel {
                    &.controls {
                        border: none;
                        background: none;
                        box-shadow: none;
                        >nm-grid.title-top {
                            >nm-row {
                                padding: 0;
                                border: 0;
                                &.has-title {
                                    padding-top: 31px;
                                    >div.title {
                                        top: 10px;
                                        left: 0;
                                    }
                                }
                                &:first-child {
                                    &.has-title {
                                        padding-top: 21px;
                                        >div.title {
                                            top: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    >nm-toolbar {
                        margin-top: 15px;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

nm-modal.tabs {
    width: 100%;
    height: 100%;
    >article {
        height: calc(100% - #{50px});
    }
}