nm-mi-entity {
    >nm-inner {
        overflow: auto;
        >nm-panel.drag {
            width: 500px;
            height: 500px;
            position: relative;
            nm-toolbar {
                position: fixed;
                z-index: 1000;
            }
            .dragBox {
                width: 1000px;
                height: 1500px;
                border: 1px dotted #bfbfbf;
                display: inline-block;
                background-image: linear-gradient(90deg, rgba(168, 168, 168, 0.15) 10%, rgba(168, 168, 168, 0) 10%), linear-gradient(rgba(168, 168, 168, 0.15) 10%, rgba(168, 168, 168, 0) 10%);
                background-size: 10px 10px;
                >div.item {
                    display: inline-block;
                    border: 2px solid #d2d2d2a3;
                    border-radius: 3px;
                    background-color: white;
                    min-width: 120px;
                    >h5 {
                        margin: 0px;
                        padding: 6px;
                        text-align: center;
                        background-color: #d2d2d2a3;
                        position: relative;
                        >i {
                            font-size: 14px;
                            padding: 4px 8px;
                            margin: 2px;
                            border-radius: 2px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            &:hover {
                                transition: all .4s;
                                background: #d0d0d0;
                                color: black;
                                transition: color 0.3s, background-color 0.3s;
                            }
                        }
                    }
                    >ul {
                        background-color: #f1f1f1a3;
                        >li {
                            display: flex;
                            >span {
                                align-items: center;
                                display: inline-block;
                                margin: 2px 3px;
                                &.label {
                                    width: 60px;
                                }
                                &.key {
                                    width: 90px;
                                }
                                &.type {
                                    width: 70px;
                                }
                                &.length {
                                    width: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}