<nm-inner>
    <nm-grid>
        <nm-row>
            <nm-col class="col-3">
                <nm-tooltip [option]="{message:'
                <h1>包年包月</h1>
                <p>按月购买及续费，为预付费模式。</p>
                <p>若购买中国大陆地域的 ECS 用于网站 Web 访问，请及时备案。</p>
                <p>若 ECS 用于 SLB，请前往 SLB 新购页面购买带宽，ECS 仅需保留少量带宽以便您管理。</p>
                
                <h1>按量付费</h1>
                <p>按实际开通时长以小时为单位进行收费，后付费模式。</p>
                <p>按量付费 ECS 不支持备案服务。</p>
                
                <h1>抢占式实例</h1>
                <p>相对于按量付费实例价格有一定的折扣，价格随供求波动，按实际使用时长进行收费，后付费模式。</p>
                <p>您愿意支付每小时的实例最高价。当您的出价高于当前市场成交价时，您的实例就会运行。</p>
                <p>阿里云会根据供需资源或市场成交价的变化释放您的抢占式实例。</p>
                <p>抢占式实例不支持备案服务。</p>'}">
                    <nm-button [option]="{icon:'icon-help-circle'}"></nm-button>
                </nm-tooltip>
            </nm-col>
        </nm-row>
    </nm-grid>
</nm-inner>