nm-account {
    >nm-inner {
        display: flex;
        >nm-panel {
            margin-top: 0px;
            &.left {
                width: 270px;
                margin-right: 15px;
                padding: 10px;
            }
            &.right {
                flex: 1;
            }
        }
    }
}