<nm-inner>
  <nm-panel>
    <nm-toolbar class="form">
      <nm-buttons>
        <nm-button [option]="{icon:'icon-plus', title:'增加'}" (click)="action('add')" [action]="'add'"></nm-button>
      </nm-buttons>
    </nm-toolbar>
  </nm-panel>
  <nm-panel>
    <ul>
      <li *ngFor='let item of result.list'>
        <a [routerLink]="['./info', {'id': item.id, 'type':'info'}]">
          <img src='../../assets/module.jpg' />
          <h4>{{item.name}}</h4>
          <p>{{item.description}}</p>
        </a>
      </li>
    </ul>
  </nm-panel>
</nm-inner>