@import "index";
nm-module {
    >nm-inner {
        >nm-panel {
            >ul {
                display: flex;
                flex-wrap: wrap;
                >li {
                    margin: 0 10px 10px 0;
                    max-width: 150px;
                    >a {
                        display: flex;
                        background-color: #fafafa;
                        border: 1px solid #d2d2d2a3;
                        color: $normal-color;
                        border-radius: 2px;
                        flex-direction: column;
                        justify-content: center;
                        padding-bottom: 10px;
                        overflow: hidden;
                        position: relative;
                        >img {
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                            width: 100%;
                            transition: .3 all;
                        }
                        >h4 {
                            margin: 0;
                            padding: 10px 10px 0 10px;
                        }
                        >p {
                            padding: 5px 10px 0 10px;
                            color: lighten($normal-color, 50%);
                            font-size: 12px;
                        }
                        >i.icon-x {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 3px;
                            margin: 3px;
                            border-radius: 20px;
                            color: white;
                            background: #79797936;
                            font-size: 12px;
                            visibility: hidden;
                            opacity: 0;
                            &:hover {
                                transition: all .3s;
                                background: #79797961;
                                color: white;
                            }
                        }
                        &:hover {
                            >i.icon-x{
                                visibility: visible;
                                transition: all .3s linear;
                                opacity: 1;
                            }
                            box-shadow: 0 0 2px 2px #a1a1a13b;
                            border-color: #b3b3b3d5;
                        }
                    }
                }
            }
        }
    }
}