<nm-inner>
    <nm-grid>
        <nm-row>
            <nm-col class="col-6">
                <nm-panel>
                    <ul>
                        <li>
                            <nm-table [option]="option"></nm-table>
                        </li>
                    </ul>
                </nm-panel>
            </nm-col>
            <nm-col class="col-6">
                <nm-panel>
                    <ul>
                        <li>
                            <nm-table [option]="option"></nm-table>
                        </li>
                    </ul>
                </nm-panel>
            </nm-col>
        </nm-row>
    </nm-grid>
</nm-inner>