<nm-inner>
    <nm-grid>
        <nm-row>
            <nm-col class="col-12">
                <nm-select [option]="listOption" [(ngModel)]="selected1"></nm-select>
            </nm-col>
        </nm-row>
        <nm-row>
            <nm-col class="col-12">
                <nm-select [option]="listCategoryOption" [(ngModel)]="selected2"></nm-select>
            </nm-col>
        </nm-row>
        <nm-row>
            <nm-col class="col-12">
                <nm-select [option]="buttonsOption" [(ngModel)]="selected3"></nm-select>
            </nm-col>
        </nm-row>
        <nm-row>
            <nm-col class="col-12">
                <nm-select [option]="buttonsCategoryOption" [(ngModel)]="selected4"></nm-select>
            </nm-col>
        </nm-row>
    </nm-grid>
</nm-inner>