@import "index";
nm-control {
    padding: 6px;
    >label {
        font-size: 12px;
        margin-right: 10px;
    }
    &.info {
        &:hover {
            background-color: lighten($normal-color, 75%);
            border-radius: 2px; // border: 1px solid transparent;
        }
        nm-input {
            >p {
                height: 20px;
                line-height: 20px;
                >label {
                    margin-bottom: 0;
                    &:after {
                        content: '：';
                    }
                }
                >input {
                    pointer-events: none;
                    background-color: lighten($normal-color, 95%);
                }
                >span {
                    font-size: 12px;
                }
            }
        }
        nm-add-item {
            >nm-buttons {
                pointer-events: none;
            }
            >nm-table {
                td.operations {
                    >span {
                        pointer-events: none;
                        color: lighten($normal-color, 10%);
                    }
                }
            }
        }
    }
    &.required {
        >nm-input {
            >p>label:after {
                content: '*';
                margin-left: 3px;
                color: $danger-color;
                margin-top: 2px;
                font-size: 20px;
                position: absolute;
            }
        }
    }
    &.hide {
        visibility: hidden;
        visibility: hidden;
        height: 0;
        padding: 0;
        margin: 0;
    }
}