@import "../../../styles/index";
nm-control {
    padding: 5px;
    >label {
        font-size: 12px;
        margin-right: 10px;
    }
    &.info {
        nm-input {
            p>input {
                pointer-events: none;
                background-color: lighten($normal-color, 95%);
            }
        }
        nm-add-item {
            >nm-buttons {
                pointer-events: none;
                background-color: lighten($normal-color, 95%);
            }
            >nm-table {
                td.operations {
                    >span {
                        pointer-events: none;
                        color: lighten($normal-color, 10%);
                    }
                }
            }
        }
    }
}