@import "index";
nm-control {
    padding: 5px;
    >label {
        font-size: 12px;
        margin-right: 10px;
    }
    &.info {
        &:hover {
            background-color: lighten($normal-color, 75%);
            border-radius: 2px;
            // border: 1px solid transparent;
        }
        nm-input {
            >p {
                height: 20px;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
                >label {
                    margin-bottom: 0;
                    &:after {
                        content: '：';
                    }
                }
                >input {
                    pointer-events: none;
                    background-color: lighten($normal-color, 95%);
                }
                >span {
                    font-size: 12px;
                }
            }
        }
        nm-add-item {
            >nm-buttons {
                pointer-events: none;
            }
            >nm-table {
                td.operations {
                    >span {
                        pointer-events: none;
                        color: lighten($normal-color, 10%);
                    }
                }
            }
        }
    }
}