@import "index";
nm-add-item {
    display: flex;
    flex-direction: column;
    >nm-buttons {
        margin-bottom: 5px;
    }
    >nm-table {
        >table {
            margin-bottom: 0;
        }
        >nm-pagination {
            margin-top: 5px;
        }
    }
}