<form>
  <ul>
    <li class="login">
      <img class="logo" src="../../assets/logo.png" />
      <span>NG-NEST</span>
    </li>
    <li>
      <nm-input [(ngModel)]="user.account" name="account" [option]="{ placeholder:'用户名', icon: 'icon-user', iconLayout:'icon-left' }"></nm-input>
    </li>
    <li>
      <nm-input [(ngModel)]="user.password" name="password" [option]="{ placeholder:'密码', type:'password', icon: 'icon-lock', iconLayout:'icon-left' }"></nm-input>
    </li>
    <li class="submit">
      <nm-button [option]="{ label:'登 录', type:'submit' }" (click)="login()"></nm-button>
    </li>
  </ul>
</form>