<nm-inner>
    <nm-panel class="left">
        <div class="info">
            <h1>{{moduleInfoService.itemResult.name}}</h1>
            <ul>
                <li *ngIf="moduleInfoService.itemResult.updateDate">更新：<span>moduleInfoService.itemResult.updateDate |
                        date:'yyyy-mm-dd'</span></li>
                <li *ngIf="moduleInfoService.itemResult.description"><span>{{moduleInfoService.itemResult.description}}</span></li>
            </ul>
        </div>
        <ul>
            <li *ngFor="let item of list" routerLinkActive="active">
                <a routerLink="{{item.page}}">
                    <i class="{{item.icon}}"></i>
                    <span>{{item.name}}</span>
                </a>
            </li>
        </ul>
    </nm-panel>
    <nm-panel class="right">
        <router-outlet></router-outlet>
    </nm-panel>
</nm-inner>